header:first-of-type {display: block;}
header:last-of-type {display: none;}

@media screen and (max-width: 768px){
	header {
		li {
			display: block;
			float: none;
			width: 100%;
		}
	}
	.hero {
		height: 150px;
	}
	main {
		img {
			display: none;
		}
		article {
			float: none;
			width: 90%;
			margin: 0 5% 20px;
			padding: 0 5% 20px;
			&:before {
				height: 75px;
				top: -75px;
			}
		}
	}
}

@media screen and (min-width: 992px){
	header:first-of-type {display: none;}
	header:last-of-type {display: block;}
}